* {
    font-family: Montserrat, Verdana, Geneva 
  }

  .body {
    min-height: 100%;
  }

.firstcontainer {
  background: rgba(255, 255, 255, 0.9);
    position: fixed;
    columns: 12;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 40px;
}

.card {
  padding: 20px;
  margin: 20px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: flex-start;
  }

.logocontainer {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: .5rem;
    color: white;
    text-decoration: none;
    margin-right: 20px;
  
    transition: transform 0.8s;
      -moz-transition: transform 0.8s;
      -webkit-transition: transform 0.8s;
      -o-transition: transform 0.8s;
      -ms-transition: transform 0.8s;
  }
  
  .logocontainer:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -webkit-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
  }

  .nav {
    margin-bottom: .5rem;
    justify-content: flex-start;
    list-style: none;
  }
  
  .item {
      background-color: #fff;
      color: #707070;
      font-weight: 600;   
      padding: 30px;
      text-decoration: none;
  }

  .item:hover {
    color: #707070
  }

  .buttons {
    display: flex;
    flex-wrap: flex;
    width: 60%;
    justify-content: flex-end;
  }
  
  .searchbar {
    border: 0.1px solid #707070;
    width: 400px;
    padding: 10px;
    border-radius: 4px;
  }
  
  .inputfield:focus {
    outline: 0;
  }

  .btn-signup {
    background: #ff4e00;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;

    transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
}

.btn-signup:hover {
 cursor: pointer;
 transform: scale(1.1, 1.1);
 -moz-transform: scale(1.1, 1.1);
 -webkit-transform: scale(1.1, 1.1);
 -o-transform: scale(1.1, 1.1);
 -ms-transform: scale(1.1, 1.1);
}

.btn-login {
    border: none;
    background-color: transparent;
    color: #707070;
    padding: 10px 10px 10px 10px;
    margin-right: 15px;

    transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
}

.btn-login:hover {
  cursor: pointer;
  border: 0.5px solid #ff4e00;
  border-radius: 4px;
  transform: scale(1.1, 1.1);
 -moz-transform: scale(1.1, 1.1);
 -webkit-transform: scale(1.1, 1.1);
 -o-transform: scale(1.1, 1.1);
 -ms-transform: scale(1.1, 1.1);
}
  

.carticon {
    padding: 20px;
    transition: transform 0.8s;
      -moz-transition: transform 0.8s;
      -webkit-transition: transform 0.8s;
      -o-transition: transform 0.8s;
      -ms-transition: transform 0.8s;
  }
  
  .carticon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -webkit-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
  }

 .designchoice {
     display: flex;
     justify-content: center;
 }

 .outputfield {
     margin-top: 20px;
     display: flex;
     justify-content: center;
     font-style: bold;
     font-size: 30px;
 }

 .help {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

 #instanthelp {
   background-color: #707070;
   color: white;
   padding: 20px;
   font-weight: 500;
   opacity: 50%;
 }
 
 